<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS WORDHIPPOS</title>
</head>
<body>
  <!-- {% import 'index.html' as macro%} -->
  <div class="container" style="color: blue">
        <h1 style="color: blue">NEWS WORDHIPPOS</h1>
        <div>
        {% for tit, description, i, content in context %}
        <div>
          <img src="{{i}}" alt="">
        </div>
          <div>
            <h2>title</h2>:{{tit}}
          </div>
          <div>
            <p>description</p>:{{description}}
          
          </div>
          <!-- <div>
            <p>image</p>:{{image}}
          </div> -->
          <div>
            <p>content</p>:{{content}}
          </div>
          <div>
            <p>url</p>:{{url}}
          </div>
          <div>
            <p>publishedAt</p>:{{publishedAt}}
          </div>
           
        {% endfor %}
        </div>

  </div> 
  {% endmacro %} 
</body>
</html>